body{
    background-image: url("fundo.jpg");
    margin: 0;
}
h1{
    color:black;
    position: relative;
    text-align: center;
    font-size: 300%;
    font-family: 'Segoe UI', sans-serif;
    margin-top: 10%;
}
#geral{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    height: 100%;
    width: 40%;
    background-color: black;
}

#geral img{
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
}

button{
    position: absolute;
    margin-top: 15%;
    margin-left: 15%;
}

#b2{
    margin-left: 65%;
}

#geral p{
    position: relative;
    color: white;
    width: 80%;
    left: 53%;
    transform: translateX(-50%);
    font-size: 130%;
    text-indent: 10%;
    padding-bottom: 0;
    font-family: 'Segoe UI', sans-serif;
}

#texto{
    margin-top: 40%;
}
a{
    color: black;
    text-decoration: none;
 }

